@model Northwind.Contracts.Dto.Product.OrderDetailDto

    <div class="input-group" style="padding-bottom:20px">
        <button class="btn btn-outline-danger" onchange="getMinus" id="minus">-</button>
        <p id="hasil" style="padding-left:10px;padding-right:10px;">0</p>
        <button class="btn btn-outline-danger" onclick="getPlus('hasil','@Html.DisplayFor(Model=>Model.OrderId)'" id="plus">+</button>
    </div>
    <script>
    function getPlus(a, b) {
        console.log(b)
    }
    </script>