@model Northwind.Contracts.Dto.Product.OrderDto


<h4 style="text-align: center">Product Details</h4>
@using (Html.BeginForm("CheckoutOrder"
, "ProductOnSale"
, FormMethod.Post
, new { @enctype = "multipart/form-data" }))
{
    <button getPlus(@Model.CustomerId)>KLik me</button>

}
<script>
    function getPlus(a) {
        console.log(a);
    }
</script>